<app-post-navbar></app-post-navbar>
<div class="container">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3 mt-4">
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3" *ngFor="let i of data" >
                    <div class="card"  >
                        <div class="card-body" style="height: 300px;">
                          <h5 class="card-title">{{i.userId}}</h5>
                          <p class="card-text">{{i.title}}</p>
                          <p class="card-text">{{i.id}}</p>
                          <p class="card-text">{{i.body}}</p>
                        </div>
                      </div> 
                </div>
            </div>
        </div>
    </div>
</div>
